<body *ngIf="authService.isLoggedIn$ | async;  else notLoggedIn">

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Dirassati</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="./prof" routerLinkActive="active">Liste des Profs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="./etudiant" routerLinkActive="active">Liste des Etudiants</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="./admin" routerLinkActive="active">Liste des Administrateurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="./List-cours" routerLinkActive="active">Liste des Cours</a>
              </li>
            </ul>
            <div class="d-flex">
              <button type="button" class="btn btn-light" style="margin-right:3%;" (click)="openDialog()">Ajouter</button>
              <button type="button" class="btn btn-danger" (click)="logout()">	<mat-icon>exit_to_app</mat-icon></button>
            </div>

          </div>

        </div>
      </nav>

      <router-outlet></router-outlet>

</body>

<ng-template #notLoggedIn>
  <div class="haha mt-0">
    <h1>YOU BETTER CONNECT</h1>
    <h2><span style="color: #f8234a">Error 498</span> Not Connected</h2>
  </div>

</ng-template>




