<body *ngIf="authService.isLoggedIn$ | async">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Dirassati</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="./prof" routerLinkActive="active">Liste des Profs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="./etudiant" routerLinkActive="active">Liste des Etudiants</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="./admin" routerLinkActive="active">Liste des Administrateurs</a>
              </li>
            </ul>
            <div class="d-flex">
                 <button mat-raised-button color="primary" style="margin-right:2%;" (click)="openDialog()">Ajouter</button><span class="buttonspacer"></span>
                 <button mat-raised-button color="warn" (click)="logout()">Logout</button>
            </div>

          </div>

        </div>
      </nav>

      <router-outlet></router-outlet>
</body>


