
<div *ngIf="this.CurrentURL=='/dirassati/etudiant'">
<h1 mat-dialog-title >Add Student Form</h1>

<div mat-dialog-content><br>
  <form [formGroup]="EtudForm">
        <!--******************************-->
   <mat-form-field appearance="outline">
       <mat-label>Nom</mat-label>
       <input formControlName="nom" matInput placeholder="Le nom du nouveau compte">
       <mat-icon matSuffix>games</mat-icon>
     </mat-form-field>
     <!---*********************************-->
     <mat-form-field appearance="outline">
       <mat-label>Prenom</mat-label>
       <input formControlName="prenom" matInput placeholder="Le prenom du nouveau compte">
       <mat-icon matSuffix>games</mat-icon>
     </mat-form-field>
     <!--******************************-->
     <mat-form-field appearance="outline">
       <mat-label>email</mat-label>
       <input formControlName="email" matInput placeholder="Email Du nouveau Compte">
       <mat-icon matSuffix>developer_mode</mat-icon>
     </mat-form-field>
   <!--******************************-->
     <mat-form-field appearance="outline">
       <mat-label>password</mat-label>
       <input formControlName="password" type="password" matInput placeholder="mot de pass Du nouveau Compte">
       <mat-icon matSuffix>developer_mode</mat-icon>
     </mat-form-field>
     <!--******************************-->
    <mat-form-field appearance="outline">
      <mat-label>CNE</mat-label>
      <input formControlName="CNE" matInput placeholder="CNE de l'etudiant">
      <mat-icon matSuffix>developer_mode</mat-icon>
    </mat-form-field>
     <!------------------------------------------->
     <mat-form-field appearance="outline">
       <mat-label>Sexe</mat-label>
       <mat-select  formControlName="sexe">
           <mat-option value="Homme">Homme</mat-option>
           <mat-option value="Femme">Femme</mat-option>
       </mat-select>
    </mat-form-field>
<!------------------------------------------->
    <mat-form-field appearance="outline" class="example-full-width">
       <mat-label>Address</mat-label>
       <textarea formControlName="adress" matInput placeholder="Votre Address"></textarea>
     </mat-form-field>


  </form>
</div>
<div mat-dialog-actions [align]="'end'">
   <button mat-raised-button color="warn" mat-dialog-close>Close</button>
   <button mat-raised-button color="primary" (click)="addProf()">{{actionBtn}}</button>
 </div>

</div>


<!--For professors-->
<div *ngIf="this.CurrentURL=='/dirassati/prof'">
  <h1 mat-dialog-title >Add prof Form</h1>
  <div mat-dialog-content><br>
    <form [formGroup]="ProForm">
          <!--******************************-->
     <mat-form-field appearance="outline">
         <mat-label>Nom</mat-label>
         <input formControlName="nom" matInput placeholder="Le nom du nouveau compte">
         <mat-icon matSuffix>games</mat-icon>
       </mat-form-field>
       <!---*********************************-->
       <mat-form-field appearance="outline">
         <mat-label>Prenom</mat-label>
         <input formControlName="prenom" matInput placeholder="Le prenom du nouveau compte">
         <mat-icon matSuffix>games</mat-icon>
       </mat-form-field>
       <!--******************************-->
       <mat-form-field appearance="outline">
         <mat-label>email</mat-label>
         <input formControlName="email" matInput placeholder="Email Du nouveau Compte">
         <mat-icon matSuffix>developer_mode</mat-icon>
       </mat-form-field>
     <!--******************************-->
       <mat-form-field appearance="outline">
         <mat-label>password</mat-label>
         <input formControlName="password" type="password" matInput placeholder="mot de pass Du nouveau Compte">
         <mat-icon matSuffix>developer_mode</mat-icon>
       </mat-form-field>
       <!--******************************-->
       <mat-form-field appearance="outline">
             <mat-label>Grade</mat-label>
             <mat-select formControlName="grade">
                 <mat-option value="Prof Cycle">Prof Cycle</mat-option>
                 <mat-option value="Vacataire">Vacataire</mat-option>
               </mat-select>
       </mat-form-field>
       <!---------------------------------------->
       <mat-form-field appearance="outline">
         <mat-label>specialite</mat-label>
         <input formControlName="specialite" matInput placeholder="Votre specialite">
         <mat-icon matSuffix>developer_mode</mat-icon>
       </mat-form-field>
       <!------------------------------------------->
       <mat-form-field appearance="outline">
         <mat-label>Sexe</mat-label>
         <mat-select  formControlName="sexe">
             <mat-option value="Homme">Homme</mat-option>
             <mat-option value="Femme">Femme</mat-option>
         </mat-select>
      </mat-form-field>
 <!------------------------------------------->
      <mat-form-field appearance="outline" class="example-full-width">
         <mat-label>Address</mat-label>
         <textarea formControlName="adress" matInput placeholder="Votre Address"></textarea>
       </mat-form-field>


    </form>
 </div>
 <div mat-dialog-actions [align]="'end'">
     <button mat-raised-button color="warn" mat-dialog-close>Close</button>
     <button mat-raised-button color="primary" (click)="addProf()">{{actionBtn}}</button>
   </div>
</div>


