
<div *ngIf="this.CurrentURL=='/dirassati/etudiant'">
<h1 mat-dialog-title >Add Student Form</h1>

<div mat-dialog-content><br>
  <form [formGroup]="EtudForm">
        <!--******************************-->
   <mat-form-field appearance="outline">
       <mat-label>Nom</mat-label>
       <input formControlName="nom" matInput placeholder="Le nom du nouveau compte">
       <mat-icon matSuffix>games</mat-icon>
     </mat-form-field>
     <!---*********************************-->
     <mat-form-field appearance="outline">
       <mat-label>Prenom</mat-label>
       <input formControlName="prenom" matInput placeholder="Le prenom du nouveau compte">
       <mat-icon matSuffix>games</mat-icon>
     </mat-form-field>
     <!--******************************-->
     <mat-form-field appearance="outline">
       <mat-label>email</mat-label>
       <input formControlName="email" matInput placeholder="Email Du nouveau Compte">
       <mat-icon matSuffix>developer_mode</mat-icon>
     </mat-form-field>
   <!--******************************-->
     <mat-form-field appearance="outline">
       <mat-label>password</mat-label>
       <input formControlName="password" type="password" matInput placeholder="mot de pass Du nouveau Compte">
       <mat-icon matSuffix>developer_mode</mat-icon>
     </mat-form-field>
     <!--******************************-->
    <mat-form-field appearance="outline">
      <mat-label>CNE</mat-label>
      <input formControlName="cne" matInput placeholder="CNE de l'etudiant">
      <mat-icon matSuffix>developer_mode</mat-icon>
    </mat-form-field>
     <!------------------------------------------->
     <mat-form-field appearance="outline">
       <mat-label>Sexe</mat-label>
       <mat-select  formControlName="sexe">
           <mat-option value="Homme">Homme</mat-option>
           <mat-option value="Femme">Femme</mat-option>
       </mat-select>
    </mat-form-field>
<!------------------------------------------->
    <mat-form-field appearance="outline">
      <mat-label>Groupe</mat-label>
      <mat-select  formControlName="groupe_id">
        <mat-option value="{{item.id}}" *ngFor="let item of Groupe ">{{item.nom_groupe}}</mat-option>
      </mat-select>
    </mat-form-field>
<!------------------------------------------->
    <mat-form-field appearance="outline" class="example-full-width">
       <mat-label>Address</mat-label>
       <textarea formControlName="adress" matInput placeholder="Votre Address"></textarea>
     </mat-form-field>


  </form>
</div>
<div mat-dialog-actions [align]="'end'">
   <button mat-raised-button color="warn" mat-dialog-close>Close</button>
   <button mat-raised-button color="primary" (click)="addEtud()">{{actionBtn}}</button>
 </div>

</div>


<!--For professors-->
<div *ngIf="this.CurrentURL=='/dirassati/prof'">
  <h1 mat-dialog-title >Add prof Form</h1>
  <div mat-dialog-content><br>
    <form [formGroup]="ProForm">
          <!--******************************-->
     <mat-form-field appearance="outline">
         <mat-label>Nom</mat-label>
         <input formControlName="nom" matInput placeholder="Le nom du nouveau compte">
         <mat-icon matSuffix>games</mat-icon>
       </mat-form-field>
       <!---*********************************-->
       <mat-form-field appearance="outline">
         <mat-label>Prenom</mat-label>
         <input formControlName="prenom" matInput placeholder="Le prenom du nouveau compte">
         <mat-icon matSuffix>games</mat-icon>
       </mat-form-field>
       <!--******************************-->
       <mat-form-field appearance="outline">
         <mat-label>email</mat-label>
         <input formControlName="email" matInput placeholder="Email Du nouveau Compte">
         <mat-icon matSuffix>developer_mode</mat-icon>
       </mat-form-field>
     <!--******************************-->
       <mat-form-field appearance="outline">
         <mat-label>password</mat-label>
         <input formControlName="password" type="password" matInput placeholder="mot de pass Du nouveau Compte">
         <mat-icon matSuffix>developer_mode</mat-icon>
       </mat-form-field>
       <!--******************************-->
       <mat-form-field appearance="outline">
             <mat-label>Grade</mat-label>
             <mat-select formControlName="grade">
                 <mat-option value="Prof Cycle">Prof Cycle</mat-option>
                 <mat-option value="Vacataire">Vacataire</mat-option>
               </mat-select>
       </mat-form-field>
       <!---------------------------------------->
       <mat-form-field appearance="outline">
         <mat-label>specialite</mat-label>
         <input formControlName="specialite" matInput placeholder="Votre specialite">
         <mat-icon matSuffix>developer_mode</mat-icon>
       </mat-form-field>
       <!------------------------------------------->
       <mat-form-field appearance="outline">
         <mat-label>Sexe</mat-label>
         <mat-select  formControlName="sexe">
             <mat-option value="Homme">Homme</mat-option>
             <mat-option value="Femme">Femme</mat-option>
         </mat-select>
      </mat-form-field>
 <!------------------------------------------->
      <mat-form-field appearance="outline" class="example-full-width">
         <mat-label>Address</mat-label>
         <textarea formControlName="adress" matInput placeholder="Votre Address"></textarea>
       </mat-form-field>


    </form>
 </div>
 <div mat-dialog-actions [align]="'end'">
     <button mat-raised-button color="warn" mat-dialog-close>Close</button>
     <button mat-raised-button color="primary" (click)="addProf()">{{actionBtn}}</button>
   </div>
</div>
<!--this modal is for admins-->
<div *ngIf="this.CurrentURL=='/dirassati/admin'">
  <h1 mat-dialog-title >Add Admin Form</h1>

  <div mat-dialog-content><br>
    <form [formGroup]="AdminForm">
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input formControlName="nom" matInput placeholder="Le nom du nouveau compte">
        <mat-icon matSuffix>games</mat-icon>
      </mat-form-field>
      <!---*********************************-->
      <mat-form-field appearance="outline">
        <mat-label>Prenom</mat-label>
        <input formControlName="prenom" matInput placeholder="Le prenom du nouveau compte">
        <mat-icon matSuffix>games</mat-icon>
      </mat-form-field>
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input formControlName="email" matInput placeholder="Email Du nouveau Compte">
        <mat-icon matSuffix>developer_mode</mat-icon>
      </mat-form-field>
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input formControlName="password" type="password" matInput placeholder="mot de pass Du nouveau Compte">
        <mat-icon matSuffix>developer_mode</mat-icon>
      </mat-form-field>
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>Fonction</mat-label>
        <mat-select formControlName="fonction">
          <mat-option value="Technicien">Technicien</mat-option>
          <mat-option value="Secretaire">Secretaire</mat-option>
          <mat-option value="agent exam">agent exam</mat-option>
        </mat-select>
      </mat-form-field>
      <!------------------------------------------->
      <mat-form-field appearance="outline">
        <mat-label>Sexe</mat-label>
        <mat-select  formControlName="sexe">
          <mat-option value="Homme">Homme</mat-option>
          <mat-option value="Femme">Femme</mat-option>
        </mat-select>
      </mat-form-field>
      <!------------------------------------------->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea formControlName="adress" matInput placeholder="Votre Address"></textarea>
      </mat-form-field>


    </form>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addAdmin()">{{actionBtn}}</button>
  </div>
</div>

<!--this modal is for courses-->
<div *ngIf="this.CurrentURL=='/dirassati/List-cours'">
  <h1 mat-dialog-title >Add Courses Form</h1>

<div mat-dialog-content><br>
    <form [formGroup]="CoursesForm">
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>Cours</mat-label>
        <input formControlName="nom_cours" matInput placeholder="Saisissez le nom du cours">
        <mat-icon matSuffix>library_books</mat-icon>
      </mat-form-field>
      <!---*********************************-->
      <mat-form-field appearance="outline">
        <mat-label>Module</mat-label>
        <input formControlName="Module" matInput placeholder="Le Module du cours">
        <mat-icon matSuffix>games</mat-icon>
      </mat-form-field>
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>Année</mat-label>
        <input formControlName="anne" type="number" min="2021" max="2023" matInput placeholder="année du cours">
        <mat-icon matSuffix>developer_mode</mat-icon>
      </mat-form-field>
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>Nom du professeur enseignant</mat-label>
        <mat-select formControlName="enseigant_id">
          <mat-option value="{{item.id}}" *ngFor="let item of professors">{{item.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!------------------------------------------->
      <mat-form-field appearance="outline">
        <mat-label>Groupe</mat-label>
        <mat-select  formControlName="groupe_id">
          <mat-option value="{{item.id}}" *ngFor="let item of Groupe">{{item.nom_groupe}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!------------------------------------------->

    </form>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addCourse()">{{actionBtn}}</button>
  </div>

</div>


<!--this modal is for courses-->
<div *ngIf="this.CurrentURL=='/dirassati/gestionEmploie'">
  <h1 mat-dialog-title >Add emploie Form</h1>

  <div mat-dialog-content><br>
    <form [formGroup]="emploie">
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input formControlName="Subject" matInput placeholder="Saisissez le nom du cours">
        <mat-icon matSuffix>library_books</mat-icon>
      </mat-form-field>
      <!---*********************************-->

        <mat-label>StartTime</mat-label>
        <input formControlName="StartTime" class="form-control" type="datetime-local" id="datetime1" [(ngModel)]="datetime">
      <br>

      <!--******************************-->

        <mat-label>EndTime</mat-label>
        <input formControlName="EndTime" class="form-control" type="datetime-local"  [(ngModel)]="datetime2">

        <br>
      <!--******************************-->
      <mat-form-field appearance="outline">
        <mat-label>cour_id</mat-label>
        <mat-select formControlName="cour_id">
          <mat-option value="{{item.cours_id}}"  *ngFor="let item of cours">{{item.nom_cours}} | {{item.nom_groupe}}</mat-option>
        </mat-select>
      </mat-form-field>






    </form>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addEmploi()">{{actionBtn}}</button>
  </div>

</div>

