
<body *ngIf="authService.isLoggedIn$ | async;  else notLoggedIn">


<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dirassati <span style="color: red">StudentPortal</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="./StudentData" routerLinkActive="active">Mes données</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./monGroupe" routerLinkActive="active">Mon Groupe</a>
        </li>
        <!-- <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Dropdown link
           <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="#">Action</a></li>
             <li><a class="dropdown-item" href="#">Another action</a></li>
             <li><a class="dropdown-item" href="#">Something else here</a></li>
           </ul>
         </li>-->
      </ul>
        <div class="d-flex">
          <button style="margin-right:3%;" type="button" class="btn btn-danger" (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
        </div>
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>

</body>






<!--in case no connection-->
<ng-template #notLoggedIn>
  <div class="haha mt-0">
    <h1>STUDENT CONNECT RIGHT THIS INSTANCE!</h1>
    <h2><span style="color: #f8234a">Error 498</span> Not Connected</h2>
  </div>

</ng-template>
